body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.head {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.questions {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 15px;
}

p {
    margin: 0;
    font-weight: bold;
}

select, input[type="radio"] {
    margin-top: 5px;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

/* Style the radio buttons */
input[type="radio"] {
    margin-right: 5px;
}

/* Add some spacing between sections */
.sections {
    margin-top: 20px;
}

/* Add a little space between the body and the footer */
body {
    margin-bottom: 20px;
}

/* Style the footer */
footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}
button{
    width: 25%;
    background-color: #3498db;
}
.doctor img{
    width: 100px;
    height: 100px;
}
.doctor{
    padding: 5%;
    display: flex;
}
.row1{
    padding: 3%;
}
.doc{
    
    margin: 2%;
    box-shadow: 7px 7px 5px 4px lightblue;
}