<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/footer.css')}}" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="Footer">

        <div class="left">

            <div class="Privacy">
                <h2>Privacy</h2>
                <a href="#terms of use">Terms of use</a>
                <br>
                <a href="#user policies">Privacy Policy</a>
                <br>
                <a href="#be safe online">Be Safe Online</a>
                <br>
                <a href="#Report">Report</a>
            </div>

            <div class="Contact">
                <h2>Company</h2>
                <a href="#about us">About Us</a>
                <br>
                <a href="#contact us">Contact Us</a>

            </div>

        </div>
        <div class="right">

            <div class="QuickLink">
                <h2>QuickLink</h2>
                <a href="home.html">Home</a>
                <a href="#"></a>
            </div>
            <div class="social">
                <h2>Social</h2>
                <img src="{{ url_for('static', filename='img/logos/Facebook') }}" alt="">
                <img src="{{ url_for('static', filename='img/logos/instagram.png') }}" alt="">
                <img src="{{ url_for('static', filename='img/logos/youtube.png') }}" alt="">
                <img src="{{ url_for('static', filename='img/logos/twitter.png') }}" alt="">
            </div>

        </div>

    </div>
</body>

</html>
